<form method="post" action="{{ path('app_commentaire_delete', {'id': commentaire.id}) }}" onsubmit="return confirm('Vous êtes sur de vouloir supprimer ce commentaire ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentaire.id) }}">
    <button class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</button>
</form>
