{% extends 'base.html.twig' %}
{% block title %}
{% endblock %}
{% block body %}
        <tr>
          <td>{{ chaussure.nom }}</td>
          <td>{{ chaussure.prix }}</td>
          <td><img src="{{chaussure.image}}" class="w-40 h-40"></td>    
        </tr>
{% endblock %}