{% extends 'base.html.twig' %}
{% block title %}
    {{ titlePage }}
{% endblock %}
{% block body %}
<div class="flex justify-between mt-[75px]">
    <div>
        <h1>Contactez-nous</h1>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2627.195406051669!2d7.784371415909054!3d48.81633297928335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4796ead79d037723%3A0xb460401cd043be5f!2sIUT%20de%20Haguenau!5e0!3m2!1sfr!2sfr!4v1679232634660!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
{% endblock %}